body{
   background-color: aliceblue;
}

label{
   font-weight:20px;
   font-size:large;
   font-style: normal;
}
.button {
   background-color: black; /* Green */
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   margin: 21px 190px;
   cursor: pointer;
   font-size: 14px;
   border-radius: 15px;
}

h2{
   color:darkblue;
   border-radius: 12px; 
   margin:5px 1px; 
   padding: 30px 130px; 
   text-align: center;
   display: inline-block;
   font-weight: bold;
}


